In [1]:
import numpy as np 
import pandas as pd 
from ast import literal_eval
import warnings
warnings.filterwarnings('ignore')
import os
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
df = pd.read_csv('./Data generated.csv')

In [6]:
df.head()

,userid,age,gender,domisili,pekerjaan,instansi,hobi
0,61377,18,female,Kota Magelang,Content writer,Universitas Gunadarma,Programming
1,16429,25,male,Kabupaten Bangkalan,Data analyst,Universitas Andalas (UNAND),Menonton
2,27812,54,male,Kota Bogor,Blogger,Universitas Negeri Malang (UM),Menonton
3,30786,39,female,Kabupaten Situbondo,Web developer,Universitas Udayana (UNUD),Mendengarkan musik
4,76660,45,male,Kabupaten Tulungagung,Data analyst,SMA A,Olahraga

In [7]:
# Convert Id sebagai Integer
df['userid'] = df['userid'].astype('int')

In [8]:
df['overall'] = df['domisili'] + ' ' + df['pekerjaan'] + ' ' +df['instansi'] + ' ' + df['hobi']#+ fd['kalori']# Combining columns overview and tagline

In [11]:
# Convert dokumen text ke matriks (baris = dokumen, kolom="")
count = CountVectorizer(analyzer = 'word', ngram_range = (1, 2), min_df = 0, 
                        # stop_words = 'english'
                        )
count_matrix = count.fit_transform(df['overall'])

CountVectorizer(min_df=0, ngram_range=(1, 2))

In [22]:
# Converts a collection of raw documents to a matrix of TF-IDF features
tf = TfidfVectorizer(analyzer='word', ngram_range=(1, 2), min_df = 0, stop_words='english')
tfidf_matrix = tf.fit_transform(df['overall'])

In [16]:
df = df.reset_index(drop=True)
titles = df['userid']  # Defining a new variable title
indices = pd.Series(df.index, index = df['userid'])  # Defining a new dataframe indices

In [17]:
# Defining a function that returns 30 most similar movied bases on the cosine 
# similarity score
def get_recommendations(title):
    idx = indices[title]  # Defining a variable with indices
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key = lambda x: x[1], reverse = True)
    sim_scores = sim_scores[1: 31]  # Taking the 30 most similar movies
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]  # returns the title based on movie indices

In [23]:
# Compute cosine similarity between samples in X and Y.
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [24]:
get_recommendations(61377)

875    30920
992    13567
29     37574
503    69712
717    70204
465    34405
923    50456
319    68263
66     27369
494    95175
448    14631
129    65223
523    63762
245    57163
697    81057
69     67267
350    32933
989    45998
343    85416
623    38110
374    14156
690    65624
416    33595
702    61736
643    28955
751    64073
545    19937
870    71498
783    76614
597    42023
Name: userid, dtype: int32

In [ ]:
875    30920
29     37574
503    69712
717    70204
319    68263
465    34405
923    50456
129    65223
343    85416
416    33595
690    65624
702    61736
775     7891
958    52359
989    45998
69     67267
523    63762
992    13567
286    95853
333    67719
374    14156
643    28955
946    96792
350    32933
368      114
400    90882
545    19937
597    42023
623    38110
735    78172
Name: userid, dtype: int32